.tabs {
  border-bottom: 1px solid #0af;
}
.tab-button {
  padding: 15px 30px;
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  &.active {
    color: #0af;
    border: 1px solid #abc;
    border-top: 4px solid #0af;
    border-bottom: 1px solid #fff;
  }
  &:hover {
    cursor: pointer;
    background-color: #f4f4f4;
  }
}
