table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  background-color: white;
  font-size: 0.8em;
}
th {
  text-align: left;
  min-width: 7em;
}
th,
td {
  border: 1px solid #dfdfdf;
  padding: 1rem;

  div {
    max-height: 5em;
    overflow: hidden;
    overflow-y: scroll;
  }

  input {
    border: 1px solid #fff;
    width: 100%;
    &:hover {
      border: 1px solid #dfdfdf;
    }
  }
}

th {
  &:hover {
    cursor: pointer;
    background-color: #f4f4f4;
  }
}
